# DON'T CHANGE THIS FILE, PLEASE EDIT .envrc.private INSTEAD.
source_env .direnv/.envrc

# https://github.com/microsoft/pyright/issues/3880
export SETUPTOOLS_ENABLE_FEATURES="legacy-editable"

# Current codebase.
export VKIT_ROOT=$(expand_path .)

# For testing.
export VKIT_DATA=$(expand_path ../vkit-data)
mkdir -p "$VKIT_DATA"

# Private data. (and will not open source)
export VKIT_PRIVATE_DATA=$(expand_path ../vkit-private-data)

# Dataset folder.
# https://github.com/vkit-x/vkit-dataset
export VKIT_DATASET=$(expand_path ../vkit-dataset)

source_env_if_exists .envrc.private
